@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&display=swap");
@media (prefers-color-scheme: dark) {
  body {
    background-color: #1a1a1a; }
  .header {
    background-image: url("../assets/images/DarkHeader.svg"); }
    .header .header-container {
      background-color: rgba(0, 0, 0, 0.8); }
      .header .header-container .header-title {
        color: #e6e6e6; }
      .header .header-container .header-version {
        color: white; }
  .section .section-title {
    color: white; }
  .color-card {
    background-color: rgba(0, 0, 0, 0.8); }
    .color-card .color-names span:first-child,
    .color-card .color-names span:last-child {
      color: white; }
    .color-card .color-values .color-btn {
      color: white; }
  .color-notification {
    background-color: black;
    color: white; }
  .color-nav-btn {
    background-color: #1a1a1a;
    border: 2px solid black;
    color: #e6e6e6; }
  .color-nav {
    background-color: black;
    border: 2px solid #1a1a1a; }
    .color-nav .title {
      color: #e6e6e6; }
    .color-nav .divider {
      border: 1px solid rgba(255, 255, 255, 0.1); }
    .color-nav ul li a {
      color: white;
      background-color: black; }
      .color-nav ul li a:hover {
        background-color: #1a1a1a; }
      .color-nav ul li a .color-circle {
        border: 3px double #1a1a1a; }
  .footer {
    background-color: rgba(0, 0, 0, 0.8); }
    .footer > small {
      color: #e6e6e6; }
      .footer > small a {
        color: white; } }

@media (prefers-color-scheme: light) {
  body {
    background-color: #e6e6e6; }
  .header {
    background-image: url("../assets/images/LightHeader.svg"); }
    .header .header-container {
      background-color: rgba(255, 255, 255, 0.8); }
      .header .header-container .header-title {
        color: teal; }
      .header .header-container .header-version {
        color: teal; }
  .section .section-title {
    color: black; }
  .color-card {
    background-color: rgba(255, 255, 255, 0.8); }
    .color-card .color-names span:first-child,
    .color-card .color-names span:last-child {
      color: black; }
    .color-card .color-values .color-btn {
      color: black; }
  .color-notification {
    background-color: white;
    color: black; }
  .color-nav-btn {
    background-color: #e6e6e6;
    color: teal;
    border: 2px solid white; }
  .color-nav {
    background-color: white;
    border: 2px solid #e6e6e6; }
    .color-nav .title {
      color: #1a1a1a; }
    .color-nav .divider {
      border: 1px solid rgba(0, 0, 0, 0.1); }
    .color-nav ul li a {
      color: black;
      background-color: white; }
      .color-nav ul li a:hover {
        background-color: #e6e6e6; }
      .color-nav ul li a .color-circle {
        border: 5px double #e6e6e6; }
  .footer {
    background-color: rgba(255, 255, 255, 0.8); }
    .footer > small {
      color: #1a1a1a; }
      .footer > small a {
        color: black; } }

@-webkit-keyframes pulsate-bck {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes pulsate-bck {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html,
body {
  width: 100%;
  height: 100%; }

body {
  display: grid;
  grid-template-columns: 20px auto 20px;
  grid-template-rows: 180px auto 50px;
  grid-template-areas: "header header header" ". main ." "footer footer footer";
  font-family: "Nunito Sans", sans-serif; }

.header {
  grid-area: header;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center; }
  .header .header-container {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 10px;
    height: auto;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); }
    .header .header-container .header-logo {
      height: 80px;
      width: 80px; }
    .header .header-container .header-title {
      font-size: 32px;
      margin: 0 5px;
      padding: 0 5px;
      font-style: normal;
      font-weight: 900;
      line-height: 48px; }
    .header .header-container .header-version {
      position: absolute;
      bottom: 15px;
      right: 20px; }

.main {
  grid-area: main;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.section {
  padding: 3rem 1.5rem; }
  .section .section-title {
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 36px;
    padding: 10px 0;
    text-align: center; }

.color-card__group {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center; }

.color-card {
  display: block;
  position: relative;
  width: 250px;
  flex-grow: 1;
  height: auto;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  -webkit-backdrop-filter: blur(10px);
  margin: 10px; }
  .color-card .color-preview {
    width: 100%;
    height: 50px;
    border-radius: 10px 10px 0 0; }
  .color-card .color-names {
    display: flex;
    flex-direction: column;
    margin: 10px; }
    .color-card .color-names span:first-child {
      font-size: 16px;
      font-style: normal;
      font-weight: normal;
      line-height: 24px; }
    .color-card .color-names span:last-child {
      font-size: 14px;
      font-style: normal;
      font-weight: 300;
      line-height: 21px; }
  .color-card .color-values {
    margin: 0 0 10px 10px; }
    .color-card .color-values .color-btn {
      width: 100%;
      border: none;
      text-align: left;
      background-color: transparent;
      font-size: 16px;
      line-height: 24px;
      border-radius: 10px;
      font-style: normal;
      font-weight: bold;
      cursor: pointer;
      outline: none; }

.color-notification {
  position: fixed;
  display: none;
  top: 10px;
  right: 10px;
  padding: 10px;
  border-radius: 10px;
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
  font-style: normal;
  z-index: 13;
  -webkit-animation: pulsate-bck 1s ease-in-out infinite both;
  animation: pulsate-bck 1s ease-in-out infinite both;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); }
  .color-notification.show-cn {
    display: block; }

.color-nav-btn {
  position: fixed;
  width: 40px;
  height: 40px;
  left: 5px;
  bottom: 5px;
  z-index: 10;
  font-size: 24px;
  text-align: center;
  font-weight: bold;
  border-radius: 50%;
  cursor: pointer; }

.color-nav {
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-height: 350px;
  height: 70%;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  border-radius: 10px 10px 0 0;
  z-index: 11;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  will-change: transform;
  transition: transform 0.3s ease-in-out; }
  .color-nav.opened {
    transform: none;
    -webkit-transform: none; }
  .color-nav .title {
    font-weight: normal;
    font-style: normal;
    padding: 5px;
    margin: 5px;
    text-align: left;
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase; }
  .color-nav .divider {
    display: block;
    width: 100%;
    margin: 10px auto; }
  .color-nav ul {
    list-style-type: none; }
    .color-nav ul li a {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: center;
      font-size: 14px;
      font-weight: 600;
      letter-spacing: 1px;
      font-style: normal;
      padding: 10px;
      line-height: 21px;
      text-decoration: none;
      cursor: pointer; }
      .color-nav ul li a#share-btn.no-share {
        display: none; }
      .color-nav ul li a .icon {
        margin: 0 10px 0 0; }
      .color-nav ul li a .color-circle {
        display: block;
        border-radius: 10000px;
        width: 20px;
        height: 20px;
        margin: 0 10px 0 0; }

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  will-change: opacity;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out; }
  #overlay.show-o {
    opacity: 1;
    display: block;
    visibility: visible; }

.footer {
  grid-area: footer;
  display: flex;
  flex-flow: column no-wrap;
  justify-content: flex-end;
  align-items: center;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  padding: 5px;
  text-align: center; }
  .footer > small {
    font-weight: 600;
    font-style: normal;
    margin: 0 5px 0 0; }
