@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&display=swap");
html.dark-theme html::-webkit-scrollbar-track,
html.dark-theme body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.2); }

html.dark-theme html::-webkit-scrollbar-thumb,
html.dark-theme body::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.6);
  -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.4); }

html.dark-theme body {
  background-color: #1a1a1a; }

html.dark-theme .header {
  background-image: url("../assets/images/DarkHeader.svg"); }
  html.dark-theme .header .header-container {
    background-color: rgba(0, 0, 0, 0.8); }

html.dark-theme .section .section-title {
  color: white; }

html.dark-theme .color-card {
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); }
  html.dark-theme .color-card .color-names span:first-child,
  html.dark-theme .color-card .color-names span:last-child {
    color: white; }

html.dark-theme .color-notification {
  background-color: black;
  color: white; }

html.dark-theme .color-nav-btn {
  background-color: black;
  color: white;
  border: 5px double #1a1a1a; }

html.dark-theme .color-nav {
  background-color: black; }
  html.dark-theme .color-nav .title {
    color: #e6e6e6; }
  html.dark-theme .color-nav .divider {
    border: 1px solid rgba(255, 255, 255, 0.1); }
  html.dark-theme .color-nav ul li a {
    color: white;
    background-color: black; }
    html.dark-theme .color-nav ul li a:hover {
      background-color: #1a1a1a; }
    html.dark-theme .color-nav ul li a .color-circle {
      border: 3px double #1a1a1a; }

html.dark-theme .switch--shadow + label {
  background-color: rgba(255, 255, 255, 0.2); }

html.dark-theme .switch--shadow + label:before {
  background-color: #1a1a1a; }

html.dark-theme .switch--shadow + label:after {
  background-color: teal; }

html.dark-theme .switch--shadow:checked + label:before {
  background-color: #1a1a1a; }

html.dark-theme .footer {
  background-color: rgba(0, 0, 0, 0.8); }
  html.dark-theme .footer > p {
    color: #e6e6e6; }
    html.dark-theme .footer > p a {
      color: white; }

@-webkit-keyframes pulsate-bck {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes pulsate-bck {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html,
body {
  width: 100%;
  height: 100%; }
  html::-webkit-scrollbar,
  body::-webkit-scrollbar {
    width: 3px; }
  html::-webkit-scrollbar-track,
  body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
    border-radius: 3px; }
  html::-webkit-scrollbar-thumb,
  body::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.4);
    border-radius: 3px; }
  html.no-scroll,
  body.no-scroll {
    overflow: hidden; }

body {
  display: grid;
  grid-template-columns: 20px auto 20px;
  grid-template-rows: 180px auto 50px;
  grid-template-areas: "header header header" ". main ." "footer footer footer";
  background-color: #e6e6e6;
  font-family: "Nunito Sans", sans-serif; }

.header {
  grid-area: header;
  background-size: cover;
  background-image: url("../assets/images/LightHeader.svg");
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center; }
  .header .header-container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 0 5px;
    height: 90px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 6px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); }
    .header .header-container .header-logo {
      height: 80px;
      width: 80px; }
    .header .header-container .header-title {
      font-size: 32px;
      margin: 0 5px;
      padding: 0 5px;
      font-style: normal;
      font-weight: 900;
      line-height: 48px;
      color: teal; }

.main {
  grid-area: main;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.section {
  padding: 3rem 1.5rem; }
  .section .section-title {
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 36px;
    padding: 15px 0;
    text-align: center;
    color: black; }

.color-card__group {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center; }

.color-card {
  display: block;
  position: relative;
  width: 240px;
  height: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 3px;
  margin: 5px;
  padding: 5px; }
  .color-card .color-preview {
    width: 100%;
    height: 50px;
    border-radius: 3px; }
  .color-card .color-names {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 5px 0; }
    .color-card .color-names span:first-child {
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
      color: black; }
    .color-card .color-names span:last-child {
      font-size: 16px;
      font-style: normal;
      font-weight: 300;
      line-height: 16px;
      color: black; }
  .color-card .color-values {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center; }
    .color-card .color-values .color-btn {
      width: 100%;
      border: none;
      padding: 5px;
      text-align: left;
      background-color: teal;
      font-size: 15px;
      margin: 5px 0 0 0;
      border-radius: 3px;
      font-style: normal;
      font-weight: 600;
      cursor: pointer;
      color: white; }
      .color-card .color-values .color-btn:hover {
        background-color: #006666; }
      .color-card .color-values .color-btn:active {
        background-color: #004d4d; }

.color-notification {
  position: fixed;
  display: none;
  top: 10px;
  right: 10px;
  background-color: white;
  color: black;
  padding: 10px;
  border-radius: 3px;
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
  font-style: normal;
  z-index: 13;
  -webkit-animation: pulsate-bck 1s ease-in-out infinite both;
  animation: pulsate-bck 1s ease-in-out infinite both;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); }

.color-nav-btn {
  position: fixed;
  width: 40px;
  height: 40px;
  left: 5px;
  bottom: 5px;
  border: 5px double #e6e6e6;
  font-size: 24px;
  text-align: center;
  font-weight: bold;
  background-color: white;
  border-radius: 50%;
  color: black;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); }

.color-nav {
  position: fixed;
  bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;
  max-width: 250px;
  width: 90%;
  height: 100%;
  background-color: white;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  z-index: 11;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  will-change: transform;
  transition: transform 0.3s ease-in-out; }
  .color-nav.opened {
    transform: none;
    -webkit-transform: none; }
  .color-nav .title {
    font-weight: normal;
    font-style: normal;
    padding: 5px;
    margin: 5px;
    text-align: left;
    font-size: 12px;
    line-height: 18px;
    color: #1a1a1a;
    text-transform: uppercase; }
  .color-nav .divider {
    display: block;
    width: 100%;
    margin: 10px auto;
    border: 1px solid rgba(0, 0, 0, 0.1); }
  .color-nav ul {
    list-style-type: none; }
    .color-nav ul li a {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: center;
      font-size: 14px;
      font-weight: 600;
      font-style: normal;
      margin: 5px 5px 5px 0;
      padding: 10px;
      background-color: white;
      border-top-right-radius: 1000px;
      border-bottom-right-radius: 1000px;
      line-height: 21px;
      color: black;
      text-decoration: none;
      cursor: pointer; }
      .color-nav ul li a:hover {
        background-color: #e6e6e6; }
      .color-nav ul li a#share-btn.no-share {
        display: none; }
      .color-nav ul li a .icon {
        margin: 0 10px 0 0; }
      .color-nav ul li a .color-circle {
        display: block;
        border: 5px double #e6e6e6;
        border-radius: 3000px;
        width: 20px;
        height: 20px;
        margin: 0 10px 0 0; }

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  will-change: opacity;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out; }
  #overlay.show-o {
    opacity: 1;
    display: block;
    visibility: visible; }

.switch__container {
  width: 60px;
  margin: 0 10px 0 0; }

.switch {
  visibility: hidden;
  position: absolute;
  margin-left: -9999px; }

.switch + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none; }

.switch--shadow + label {
  padding: 2px;
  width: 60px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 30px; }

.switch--shadow + label:before,
.switch--shadow + label:after {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: ""; }

.switch--shadow + label:before {
  right: 1px;
  background-color: #e6e6e6;
  border-radius: 30px;
  transition: background 0.3s; }

.switch--shadow + label:after {
  width: 28px;
  background-color: teal;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.3s; }

.switch--shadow:checked + label:before {
  background-color: #e6e6e6; }

.switch--shadow:checked + label:after {
  transform: translateX(30px); }

.footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  padding: 5px;
  text-align: center; }
  .footer > p {
    color: #1a1a1a;
    font-size: 16px;
    font-weight: 600;
    font-style: normal; }
    .footer > p a {
      color: black; }
