// Dark Theme Settings

@media (prefers-color-scheme: dark) {

    // Body
    body {
        background-color: $dark;
    }

    // Header
    .header {
        background-image: url('../assets/images/DarkHeader.svg');

        .header-container {
            background-color: rgba($black, 0.8);

            .header-title {
                color: $light;
            }

            .header-version {
                color: white;
            }
        }
    }

    // Section
    .section {
        .section-title {
            color: $white;
        }
    }

    // ColorCard
    .color-card {
        background-color: rgba($black, 0.8);

        .color-names {

            span:first-child,
            span:last-child {
                color: $white;
            }
        }

        .color-values {
            .color-btn {
                color: $white;
            }
        }
    }

    // ColorNotification
    .color-notification {
        background-color: $black;
        color: $white;
    }

    // Color Nav Button
    .color-nav-btn {
        background-color: $dark;
        border: 2px solid $black;
        color: $light;
    }

    // Color Nav
    .color-nav {
        background-color: $black;
        border: 2px solid $dark;

        .title {
            color: $light;
        }

        .divider {
            border: 1px solid rgba($white, 0.1);
        }

        ul {

            li a {
                color: $white;
                background-color: $black;

                &:hover {
                    background-color: $dark;
                }

                .color-circle {
                    border: 3px double $dark;
                }
            }
        }
    }

    // Footer
    .footer {
        background-color: rgba($black, 0.8);

        &>small {
            color: $light;

            a {
                color: $white;
            }
        }
    }

}