@charset "utf-8";

// Imports
// -- Vars
@import 'vars';
// -- Themes
@import 'dark-theme'; // Dark
@import 'light-theme'; // Light


// Tiny Reset
*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

// Body
body {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 250px auto 60px;
    grid-template-areas: "header header header"
        "main main main"
        "footer footer footer";
    font-family: $font-family;
}

// Header
.header {
    grid-area: header;
    position: relative;

    .header-container {
        position: absolute;
        bottom: 0;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        padding: $padding * 2;
        height: auto;
        width: 100%;
        border-radius: $border-radius;

        .header-logo {
            height: 32px;
            width: 32px;
        }

        .header-title {
            font-size: 32px;
            margin: 0 $margin;
            padding: 0 $padding;
            font-style: normal;
            font-weight: 900;
            line-height: 48px;
        }
    }
}

// MainContent
.main {
    grid-area: main;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

// Section
.section {
    padding: 3rem 1.5rem;
}

// ColorCardGroup
.color-card__group {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

// ColorNotification
.color-notification {
    position: fixed;
    width: 250px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 10px;
    right: 0;
    border-left: 10px outset $primary;
    border-radius: 0 $border-radius 0 $border-radius;
    transform: translateX(100%);
    transition: transform 200ms ease-in;
    padding: $padding * 2;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    z-index: 13;
    box-shadow: 0 2px 6px rgba($black, 0.2);
    &.show-cn {
        transform: translateX(0);
    }
}

// Color Nav Button
.color-nav-btn {
    position: fixed;
    height: 50px;
    left: 5px;
    bottom: 5px;
    z-index: 10;
    border: none;
    padding: 0 $padding * 4;
    border-radius: $border-radius;
    box-shadow: 0 2px 6px rgba($black, 0.2);
    cursor: pointer;
}

// Color Nav
.color-nav {
    padding: $padding * 2 0;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-height: 350px;
    height: 70%;
    overflow-y: auto; 
    border: none;
    overflow-x: hidden;
    width: 100%;
    box-shadow: 0 -2px 6px rgba($black, 0.2);
    border-radius: $border-radius $border-radius 0 0;
    z-index: 11;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    will-change: transform;
    transition: transform 0.3s ease-in-out;

    &.opened {
        transform: none;
        -webkit-transform: none;
    }

    .title {
        font-weight: normal;
        font-style: normal;
        padding: $padding;
        margin: $margin;
        text-align: left;
        font-size: 12px;
        line-height: 18px;
        text-transform: uppercase;
    }

    ul {
        list-style-type: none;

        li a {
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-start;
            align-items: center;
            font-size: 14px;
            font-weight: 600;
            letter-spacing: 1px;
            font-style: normal;
            padding: $padding * 2;
            line-height: 21px;
            text-decoration: none;
            cursor: pointer;

            &#share-btn.no-share {
                display: none;
            }

            .icon {
                margin: 0 $margin * 2 0 0;
            }

            .color-circle {
                display: block;
                border-radius: $border-radius * 1000;
                width: 20px;
                height: 20px;
                margin: 0 $margin * 2 0 0;
            }
        }
    }
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 10;
    background-color: rgba($black, 0.25);
    opacity: 0;
    will-change: opacity;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out;

    &.show-o {
        opacity: 1;
        display: block;
        visibility: visible;
    }
}

// Footer
.footer {
    grid-area: footer;
    display: flex;
    flex-flow: column no-wrap;
    justify-content: flex-end;
    align-items: center;
    font-size: 16px;
    box-shadow: 0 -2px 6px rgba($black, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: $padding;
    text-align: center;
    &>p {
        font-weight: 600;
        font-style: normal;
        margin: 0 $margin 0 0;
    }
}

/* ColorCard */
.colorCard {
    position: relative;
    width: 300px;
    height: 260px;
    border-radius: $border-radius;
    box-shadow: 0 2px 6px rgba($black, 0.2);
    margin: $margin * 2;
    &.is-dark {
        color: $black;
        .colorCardBtnGroup {
            .colorCardBtn {
                color: $black;
            }
        }
    }
    &.is-light {
        color: $white;
        .colorCardBtnGroup {
            .colorCardBtn {
                color: $white;
            }
        }
    }
    .colorCardTitle {
        position: absolute;
        bottom: 10px;
        left: 5px;
        font-style: normal;
        font-weight: regular;
        font-size: 24px;
        line-height: 28px;
        writing-mode: vertical-lr;
        transform: rotate(180deg);
    }
    .colorCardSubTitle {
        position: absolute;
        bottom: 10px;
        left: 30px;
        font-style: normal;
        font-weight: light;
        font-size: 16px;
        line-height: 20px;
        writing-mode: vertical-lr;
        transform: rotate(180deg);
    }
    .colorCardBtnGroup {
        position: absolute;
        bottom: 10px;
        right: 10px;
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-end;
        .colorCardBtn {
            background-color: transparent;
            display: block;
            border: none;
            outline: 0;
            text-align: right;
            font-size: 16px;
            line-height: 20px;
            font-style: normal;
            font-weight: bold;
            cursor: pointer;
            margin: $margin 0 0 0;
        }
    }
}